body {
  background-image: url(https://wallpaperaccess.com/full/5206080.jpg);
  background-size: cover;
}

input[type="text"] {
  font-size: 15px;
  font-weight: bold;
}

#button {
  position: fixed;
  top: 92%;
  right: 90%;
  size: 40px;
  font-weight: bold;
  color: bisque;
  width: 10%;
  height: 9%;
  text-align: center;
  background-color: #b07c61;
}


#imgbutton {
  position: fixed;
  top: 94%;
  right: 3%;
}
#message {
  left: 10%;
  position: fixed;
  top: 92%;
  width: 87%;
  height: 8%;
  background-color: #c78d6f;
  color: burlywood;
  font-family: Varela Round;
}

#chat {
  list-style-type: none;
}

#chat li {
  color: white;
}

.title {
  font-family: Varela Round;
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  right: 42%;
  color: burlywood;
}

.users {
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  right: 2%;
  font-family: Varela Round;
  color: blanchedalmond;
  top: 15%;
}

.users_btn {
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  right: 2%;
  font-family: Varela Round;
  border: solid;
  border-color: blanchedalmond;
  top: 7%;
  color: burlywood;
}

.users_btn:hover {
  cursor: pointer;
}

#u_welcome {
  font-size: 24px;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: whitesmoke;
  padding-left: 145px;
  padding-bottom: 30px; 
}

#username {
  position: absolute;
  right: 30%;
  top: 20%;
  width: 35%;
  height: 40%;
  border: solid;
  background-color: brown;
  border-color: brown;
  border-radius: 5%;
}

#u {
  background-color: burlywood;
  height: 15%;
  border: solid;
  border-color: burlywood;
  border-radius: 10%;
}

#s {
  height: 15%;
  width: 20%;
  background-color: burlywood;
  font-weight: bolder;
  border: solid;
  border-color: burlywood;
  border-radius: 10%;
}

.t_m_c {
  position: absolute;
  right: 30%;
  top: 20%;
  width: 35%;
  height: 30%;
  border: solid;
  background-color: brown;
  border-color: brown;
  border-radius: 5%;
  display: none;
}

#t_m_c_gotit {
  background-color: burlywood;border-radius: 5%; height: 25%; width: 25%; font-family: Varela Round; font-size: 18px; position: absolute; right: 40%;
}

#t_m_c_gotit:hover {
  background-color: brown;
}

.lds-spinner {
  color: burlywood;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: burlywood;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#pw {
  background-color: burlywood;
  height: 15%;
  border: solid;
  border-color: burlywood;
  border-radius: 10%;
}